# PROJECT'S CREDENTIALS
DEVOPS_BASE_URL= dev.azure.com
DEVOPS_ORGANIZATION=l30
DEVOPS_PROJECTS="l30; l30 2"
DEVOPS_API_VERSION=7.2-preview
DEVOPS_LOGIN=basic
DEVOPS_TOKEN_DEFAULT= # Default TOKEN used to request AssignedTo